<header id="partial-header">
    <nav>
        <a class="nav-link" href="/contact">Contact </a>
        <a class="nav-link" href="/admin" target="blank">Admin</a>
        <a class="nav-link" href="/"> Home</a>
        <a class="nav-link" href="https://github.com/KJeansGR/Portfolio-Project" target="_blank"> Git Hub Repo</a>
        <a class="nav-link" href="https://linkedin.com/in/kalif-jeans" target="_blank"> LinkedIn </a>
    </nav>
</header>
