<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="/styles/styles.css">
    <link rel="icon" href="/images/chat.png">
    <script src="/js/contactform.js" defer></script>
    <title>Portfolio Assignment 3</title>
</head>
<body>   
    <h1>Contact Form</h1>
    <form id="contact-form" action="/confirm" method="POST">

        <div id="f-name-div">
            <label for="f-name">First Name 
                <span id="err-fname" class="err">Field Required</span>
            </label>
            <input type="text" id="f-name" name="f-name">
        </div>
        <div id="l-name-div">
            <label for="l-name">Last Name
                <span id="err-lname" class="err">Field Required</span>
            </label>
            <input type="text"  id="l-name" name="l-name">
        </div>
        <div id="job-div">
            <label for="job">Job Title
                <span id="err-job" class="err">Field Required</span>
            </label>
            <input type="text"  id="job" name="job">
        </div>
        <div id="company-div">
            <label for="company">Company
                <span id="err-company" class="err">Field Required</span>
            </label>
            <input type="text"  id="company" name="company">
        </div>
        <div id="LinkedIn-div">
            <label for="linkedin">LinkedIn URL
                <span id="err-linkedIn" class="err">" https://linkedin.com/in/ " Required </span>
            </label>
            <input type="text"  id="linkedin" name="linkedin">
        </div>
        <div id="email-div">
            <label for="email">Email Address
                <span id="err-email" class="err">Field Required</span>
            </label>
            <input type="email" id="email" name="email">
        </div>

        <section id="met-section">
            <div id="met-select-div">
                <label for="met-select">How We Met
                    <span  id="err-met" class="err">Field Required or Specify Other</span>
                </label>
                <select name="met-select" id="met-select">
                    <option value="">--Choose--</option>
                    <option value="in-person">in-person</option>
                    <option value="online">online</option>
                </select>
            </div>
            <div id="met-other-div">
                <label for="other-met">Other (<span id="other-met-specify">Please Specify </span>)
                    <span id="err-met-other" class="err">Field Required or Select from menu</span>
                </label>
                <input type="text" name="other-met" id="other-met">
            </div>
        </section>

        <div id="text-area-div">
            <label for="message">Message</label>
            <textarea name="message" id="message"></textarea>
        </div>
        <div id="final-toggles-div">
            <label for="mail-list">
                <input type="checkbox" name="mail-list" id="mail-list">
                add me to your mailing list
            </label>
            <div id="format-div">
                <span>             
                    <span id="err-format" class="err">Field Required</span>
                     Choose an email Format</span>
                <input type="radio" name="format" value="html" id="html">HTML
                <input type="radio" name="format" value="text" id="text">Text
            </div>
        </div>
        <button type="submit" id="sub-btn">Submit</button>
    </form>
</body>
<footer>
    <a target="_blank"  href="https://github.com/KJeansGR/Portfolio-Project"> Git Hub Repo</a>
</footer>
</html>