<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="/styles/confirmStyles.css">
    <link rel="icon" href="/images/chat.png">
    <script src="/js/ConfirmationPage.js" defer></script>
    <title>Portfolio Assignment Confirmation</title>
</head>

<body>
    <section id="thankyou-section">
        <figure>
            <img src="/images/thankyouimg.png" alt="thankyou image">
        </figure>
        <nav id="confirm-btn-options">
            <a href="/">
                <button type="button" id="confirm-btn">Return to Homepage</button>
            </a>
        </nav>
    </section>


</body>
</html>