<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="Stylesheet" href="/styles/confirmStyles.css">
    <link rel="icon" href="/images/chat.png">
    <script src="/js/ConfirmationPage.js" defer></script>
    <title>Portfolio Assignment Confirmation</title>
</head>

<body>
    <h1>Thank You</h1>
    <section id="confirm-section">
        <nav id="confirm-btn-options">
            <a href="/">
                <button type="button" id="confirm-btn">Return</button>
            </a>
        </nav>
    </section>
</body>
</html>