html{
    font-family: Arial, Helvetica, sans-serif;  
    background-color: whitesmoke;
}
body{
    margin: 0 auto;
    box-sizing: border-box;
    justify-items: center;
    align-items: center;
}
h1{
    font-size: clamp(1.5rem, 3.5vw, 3.5rem) !important;
}
body *{
    border-radius: .25rem;
    border-color: rgba(0, 0, 0, 0.25);
    border-width: .1rem;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
}
#confirm-section{
    padding: 1rem;
    box-shadow:-.1rem .1rem .25rem black ;
    background-color: antiquewhite;
}
strong{
    font-size: clamp(1rem, 3vw, 1.5rem);
}
#confirm-btn-options{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
a{
    min-width: fit-content;
    width: 25%;
    max-width: 40%;
}
#confirm-btn{background-color:  limegreen;}
#return-btn{background-color:  crimson;}
button{
    color: white;
    border: none;
    width: 100%;
    font-size: clamp(.75rem, 2vw, 1.25rem);
    padding: .75rem 0rem;
    box-shadow: 0 0 .25rem black;
    transition: all .175s ease-in-out;
}
button:hover{
    transform: scale(.975);
    opacity: 50%;
}
button:active{
    transform: scale(.9);
    opacity: 50%;
}
